FORMAT: 1A
HOST: https://api.classmarkets.com

## Data Structures

### Job Offer Listing

+ id: `6JV76J-339533` (required)
+ meta (object, required)
    + origin (object, required)
        + url: `https://jobs.augsburger-allgemeine.de/stellenangebot/sachbearbeiter-verkaufsservice-export--6jv76j-339533` (string, required)
    + first_saved_at: `2016-03-16T09:37:32Z` (string)
    + last_saved_at: `2016-03-22T05:35:59Z` (string)
    + published_at: `2016-03-16T00:00:00Z` (string)
    + expires_at: `2038-01-19T03:14:07Z` (string)

+ expose_type (enum, required)
    + premium_description
    + image_ad
    + external_expose

+ title: `Sachbearbeiter Verkaufsservice Export (m/w)` (string) - The listing's title
+ advertiser (Organization) - The organization paying for this listing
+ summary: `Bei Zott ist der Genuss zu Hause!` (string) - Aka. short description
+ description: `<p>Bei Zott ist der Genuss zu Hause!</p>` (string) - This is the listing's content
    
    Only relevant for listings with `expose_type == "premium_description"`. The
    description may be formatted as HTML. No tags are stripped by classmarkets.

+ url: `https://www.zott-dairy.com/karreer/4987621.html` (string)

    Canonical URL for this job offer. Only relevant for listings with
    `expose_type == "external_expose"`.

+ embedded_image: `https://cmcdn.de/c/0d4/d0c4bdef94397b6992389a683ee2e1e106560.jpg` (string)

    URL to the image depicting the job offer. Only relevant for listings with
    `expose_type == "image_ad"`.

+ location (array[Location])

+ attachments (array)
    + (object)
        + caption: `Sachbearbeiter Verkaufsservice Export.pdf` (string)
        + url: `https://cmcdn.de/c/2e0/4b800a8a64e4c98db3edaf52d7c499aca7531.jpg` (string, required)
        + type: `image/jpeg` (string, required)

+ contact
    + recipients (array)
        + (object)
            + name: `Dipl. Ing. John Doe` (string)
            + email_addresses (array)
                + (object)
                    + value: `john.doe@example.com` (string, required)
                    + label: `Bewerbungen` (string)
            + phone_numbers (array)
                + (object)
                    + value: `06022 2647529` (string, required)
                    + label: `HR` (string)
                + (object)
                    + value: `06022 2647530` (string, required)
                    + label: `PR` (string)
            + urls (array)
                + (object)
                    + value: `https://example.com` (string, required)
                    + label: `Homepage` (string)
+ industries (array)
    + (object)
        + label: Finanzen und Recht
    + (object)
        + label: Sonstige
    + (object)
        + label: Informatik und IT
+ job_types (array)
    + (object)
        + label: Vollzeit
    + (object)
        + label: Festanstellung
+ tags: `Export`, `Sachbearbeiter/in`, `Verkaufsservice`, `Auftragsbearbeitung` (array[string])

### Address

+ street_address: `Dr.-Steichele-Straße 4` (string) - Street name and number
+ postal_code: `86690` (string)
+ locality: `Mertingen` (string) - The general term for city, village etc.
+ country_code: `DE` (string) - as defined by ISO 3166-1-alpha-2
+ country: `Deutschland` (string) - Localized to the country's official language
+ public: `true` (boolean, required) - Indicates if it is allowed to publicly display the street_address attribute.

    Specifically for addresses of real estates this will often be false, so
    care has to be taken to not disclose sensitive information.

    + Default: false

### Organization

+ id: `66fec87e-8ff3-4c9e-8041-25a114cb1e23` (string)
+ name: `Zott SE & Co. KG` (string) - The organization's legal name
+ email_address: `karriere@zott.de` (string)
+ telephone_number: `+49 9078 801 0` (string)
+ url: `http://www.zott-dairy.com` (string)
+ address (Address)
+ logos
    + `default`: `https://cmcdn.de/c/4be/42acb25b52643374d7d8051f18e10662a1ea3.png` (string)
    + `small`: `https://cmcdn.de/c/1aa/8051f18e10662a1ea342acb25b52643374d7d.jpg` (string)

### Location

+ address (Address)
+ geography (object)
    + point (object)
        + lat: `47.8547405` (number)
        + lon: `13.1532173` (number)
    + point_accuracy (enum)
        + street
        + citydistrict
        + city
        + district
        + state
        + country
        + postal_code
        + pobox
        + usercomposed

# Group Authentication and authorization

<!--
All requests to endpoints other than the authentication endpoints must be
authorized with access tokens.

First, acquire an access token using one of the methods described below. Then
include your token in all further requests like so:

    GET /some/endpoint HTTP/1.1
    Host: api.classmarkets.com
    Authorization: Bearer UqMv7BFvQCmE84mqG7SWOw


First, issue an Access and Refresh token using the /auth/v1/token endpoint. You
received your client id and secret when you registered for the API.


The scope parameter will determine how powerful the access token is, e.g. what
can be done with it. To limit the possible damage that can be done if the token
is disclosed, you should always make the scope as narrow as possible.


```
POST /auth/v1/token?grant_type=client_credentials&scope=api.listings.readonly&client_id=91a5bd6e-bbdc-4b4b-bc83-bd81259d6098&client_secret=ATcc/BmVhcEp-MlpQo4M6MdP_zZ4BBE2 HTTP/1.1
Host: api.classmarkets.com
Accept: application/json
Accept-Encoding: gzip, deflate
Content-Length: 0
```

Assuming the client id and secret are correct, the API will issue an access
token.

```
HTTP/1.1 200 OK
Content-Type: application/json

{
    "access_token": "UqMv7BFvQCmE84mqG7SWOw", 
    "expires_in": 3600, 
    "scope": "api.listings.readonly", 
    "token_type": "Bearer"
}
```


Include this token in all future requests like so:

```
GET /search/v1/job-offer/6JV76J-339533 HTTP/1.1
Host: api.classmarkets.com
Authorization: Bearer UqMv7BFvQCmE84mqG7SWOw
```
-->

## Access tokens [/auth/v1/token]

The classmarkets API requires all requests to be authorized. Before you can
interact with the API in a meaningful way, you have to acquire an access token.
You will then present this access token in all following request headers, like
so:

    GET /some/endpoint HTTP/1.1
    Host: api.classmarkets.com
    Authorization: Bearer UqMv7BFvQCmE84mqG7SWOw

If you are familiar with OAuth 2, feel free to skip the rest of this section.

The string "UqMv7BFvQCmE84mqG7SWOw" in the example above is the access token.
To you it is just an opaque string. Keep your tokens safe! Whoever gains
access to them can use the API on your behalf.

Tokens are acquired using one of the OAuth 2 authorization methods, also known
as grant types.

To get the API to issue an access token, you will have to authenticate yourself
(e.g. prove that you are you) and also indicate what you are planning to do
with your access token. The details of the authentication depend on the
`grant_type` and are detailed below. The declaration of intend is always the
same and happens with the `scope` parameter.

<!--
The access token has a limited lifetime, which is indicated in the `expires_in`
response attribute (given in seconds). After that time, the access token is no
longer valid and a new token must be issued. Of course you can also issue a new
token before that time.
-->


### Authenticate with client credentials [POST /auth/v1/token?grant_type=client_credentials&client_id={client_id}&client_secret={client_secret}&scope={scope}]

While OAuth 2 specifies several authentication methods the API only supports
the "client credentials" method. This method is suitable for applications that
act on their own behalf, as opposed to applications that act on behalf of a
particular (usually human) user.

Authentication is based on your client id and secret, both of which you
received when signing up for your API account.

+ Parameters
    + `client_id`: `91a5bd6e-bbdc-4b4b-bc83-bd81259d6098` (string, required) -
      client_id identifies the software interacting with the API. This id is
      generated and communicated by classmarkets when signing up for an API
      account.
    + `client_secret`: `ATcc/BmVhcEp-MlpQo4M6MdPtzZ4BBE2` (string) - This
      secret is generated and communicated by classmarkets when signing up for
      an API account.
    + scope: `api.listings.readonly,api.users` (string) - A comma separated
      list of scopes for the access token. The scope determines how powerful
      the access token is, e.g. what can be done with it. To limit the possible
      damage that can be done if the token is disclosed, it should be as narrow
      as possible.

+ Response 200 (application/json)

    + Body

            {
                "access_token": "UqMv7BFvQCmE84mqG7SWOw",
                "expires_in": 3600,
                "scope": "api.listings.readonly",
                "token_type": "Bearer"
            }

